:root {
  --color-background-main: #F4F6F9;
  --color-background-dark: #4A6FA5;
  --color-light: #FFFFFF;

  --color-text-dark: #4A6FA5;
  --color-text-light: #F4F6F9;
  --color-text-dark-purple: #6A0DAD;
  --color-text-light-purple: #9B59B6;

  --shadow-news: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-filter: 7px 7px 4px 0px rgba(0, 0, 0, 0.35);
  --shadow-files: 4px 7px 12px 0px rgba(0, 0, 0, 0.5);

  --border-small: 20px;
  --border-large: 50px;

  --font-family-base: 'Montserrat', sans-serif;

  --container-width: 1786px;
  --container-padding-x: 5vw 0;

  --section-padding-y: 0 3vw;

  --transition-duration: 0.2s;
}