.header,
.navigation {
  @include fluid-text(36);
}

.header  {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 32px 67px;
	max-width: 100vw;
	flex-wrap: wrap;
	&-logo-link img{
		max-width: 80px;
	}
    &-background {
      background-color: var(--color-background-dark);
    }

    &-title {
      width: 660px;
      text-align: center;

      &-h2 {
        color: var(--color-text-light);
      }
    }

    &-button {
      &-btn {
        @include reset-button;

        max-width: 240px;
        max-height: 85px;
        padding: 14px 42px;
        border-radius: var(--border-large);
        background-color: var(--color-background-main);
        color: var(--color-text-dark-purple);
        font-weight: bold;
        text-align: center;

        @include tablet-portrait {
          padding: 7px 21px;
        }
      }
    }
  &-sin-link-unautorize {
  color: var(--color-light);
  text-align: center;
}

}



  &__menu {
    margin: var(--container-padding-x);

    &-list {
      display: flex;
      justify-content: space-evenly;
      gap: 1.5rem 2rem;
 flex-wrap: wrap;
      @include tablet {
        flex-wrap: wrap;
        justify-content: center;
      }

      &-item {
        text-align: center;
		  @include fluid-text(36,18);
      }
    }
  }
}

.hidden{
	&__calendar{
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 20px;
 left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
  border-radius: 20px;
  overflow-y: scroll;
	}
	&__close{
  display: block;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
	}
}

.visible__calendar{
	display: flex;

}

// 